<section class="card">
  
     <h3>number of site visits: {{countVisit}}</h3>
    
    <h1>{{post_name}}  </h1> <h2 id="id">{{id}}</h2> <button class ="delete" data-id="{{id}}">delete</button>
  

</section>

  