
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>post</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
 
    <a href="/">Home</a>
  </nav>
  <main>

    


    <aside>
      <h1>Users posts</h1>
    </aside>
    <div class="history">
     <h3> {{{body}}} </h3>
    </div>
  </main>

</body>

</html>